@import url("colorPalette.css");

:root {
	--ContentWidth: 80vw;
    --Table1Width: var(--ContentWidth);
    --Table1Ratio: 20%;
    --Table2Size: calc(var(--ContentWidth) / 27);
}
td, #printMode {
	background-color: var(--light_orange);
}
th {
	background-color: var(--dark_orange);
}
.table1CellL {
    width: var(--Table1Ratio);
}
.table1CellR {
    width: calc(100% - --Table1Ratio);
}
#table1 {
    width: var(--Table1Width);
	margin: auto;
}
#table1 Select {
    border: none;
    background-color: inherit;
	min-width: 100%;
}
table td, table th, #printMode {
    border: black 1px solid;
}
#table2 td, #table2 th {
    /* Just set them all, some of them affect overflow. Didn't bother to check which */
    min-height: var(--Table2Size);
    min-width:  var(--Table2Size);
    height: var(--Table2Size);
    width:  var(--Table2Size);
    max-height: var(--Table2Size);
    max-width:  var(--Table2Size);
}
table {
	border-collapse: collapse;
}
#table2 {
    text-align: center;
	margin: auto;
}
.tableSpacer {
	height: 1rem;
}
form {
	text-align: center;
}
select:disabled {
	/* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
	color: black;
}
