@import url("colorPalette.css");

#pageTitle {
	text-align: center;
	background-color: var(--dark_orange);
	color: var(--dark_green);
	padding: 0.25em;
}

body {
	background-color: var(--light_green);
	margin: 0;
}

.homePageText {
	width: 50%;
	float:left;
	padding: 0 10px;
	font-size: 1.15em;
}

.photoright {
	width: 50%;
	float: right;
	padding: 0 10px;
}
